annotated-types==0.6.0
anyio==4.2.0
fastapi==0.110.0
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
icalendar
openpyxl==3.1.2
pandas==2.2.0
pydantic==2.6.0
pydantic-core==2.16.1
pydantic-settings
python-dateutil==2.8.2
python-dotenv==1.0.1
redis==5.0.1
regex==2023.12.25
typing_extensions==4.9.0
XlsxWriter==3.1.9