@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #3b82f6;
  --rdp-background-color: #e5e7eb;
  margin: 0;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #f3f4f6;
}